# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Output data
output/
*.xlsx
*.csv
*.txt
*.zip

# Images / downloads
*/pictures/
